<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script src="{/static/learn.js}"></script>
<body>

    <div class="navbar">
        <a href="beat-and-tempo.html">Beat and Tempo</a>
        <a href="duration-and-symbols.html">Duration and Symbols</a>
        <a href="subdividing.html">Subdividing</a>
        <a href="quiz.html">Quiz</a>
    </div>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
        <script src="{{ url_for('static', filename='learn.js') }}"></script>
    {% endblock %}

</body>