{% extends "layout.html" %}


{% block content %}

    <style>
        #time-signature-img {
            width: 50px;
        }
        .grid-container {
            width: 50%;
            display: grid;
            grid-template-columns: repeat(16, 1fr); /* Adjust the number of columns as needed */
            gap: 8px; /* Space between grid items */
        }
        .grid-item {
            border: 1px solid black; /* Border to visualize the grid item */
            height: 50px; /* Fixed height, adjust as needed */
        }

        .grid-item.span-3 { grid-column: span 3; }
        .yellow { background-color: #FFFF99; }

        .quiz6-note-image {
            width: 100px;
        }
        
    </style>

    <div class="container">
        <p>Question 6) Choose the correct answer to match the sound</p>
        <div><audio controls>
            <source src="{{ url_for('static', filename='quiz6.m4a') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio></div>
        
        <div class="grid-container">
            <img id="time-signature-img" src="{{ url_for('static', filename='quiz6_timesignature.png') }}" alt="Rhythm Time Signature" class="rhythm-image">
            <div class="grid-item yellow span-3"></div>
            <div class="grid-item yellow span-3"></div>
            <div class="grid-item yellow span-3"></div>
            <div class="grid-item yellow span-3"></div>
        </div>
        <div class="rhythm-images">
            <img src="{{ url_for('static', filename='quiz6_1.png') }}" alt="Rhythm pattern 1" class="quiz6-note-image">
            <img src="{{ url_for('static', filename='quiz6_2.png') }}" alt="Rhythm pattern 2" class="quiz6-note-image">
            <img src="{{ url_for('static', filename='quiz6_3.png') }}" alt="Rhythm pattern 3" class="quiz6-note-image">
            <img src="{{ url_for('static', filename='quiz6_4.png') }}" alt="Rhythm pattern 3" class="quiz6-note-image">
            <img src="{{ url_for('static', filename='quiz6_5.png') }}" alt="Rhythm pattern 3" class="quiz6-note-image">
        </div>

    </div>
    <div class="next-button">
        <a href="quiz7">Next</a>
    </div>

{% endblock %}
