{% extends "layout.html" %}


{% block content %}
    <style>
        .drop-container {
            flex: 1;  /* Each container will flexibly take up equal space */
            margin: 10px;  /* Margin for spacing between containers */
            text-align: center;
            padding: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
    </style>

    <div class="container">
        <p>Question 2) Which of these songs feature an upbeat tempo vs. downbeat tempo?
        </p>
        <div class="row">
            <div class="drop-container" id="drop-container-upbeat">Upbeat</div>
            <div class="drop-container" id="drop-container-downbeat">Downbeat</div>
        </div>
        <div class="row">
        <iframe class="drop-container" width="420" height="315" src="https://www.youtube.com/embed/mq28D0-0W1g"></iframe>
        <iframe class="drop-container" width="420" height="315" src="https://www.youtube.com/embed/oXoduUJ5Q_8"></iframe>
       
        

    </div>
    <div class="next-button">
        <a href="quiz3">Next</a>
    </div>
    
{% endblock %}

