{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <h2>Subdividing</h2>
    <p>Subdividing is: Breaking the notes in a set of beats such that all notes are expressed in terms of the smallest value present in the set. This gives you a deeper understanding on what notes are played when.</p>
    <p>For the basics: We can divide each beat into 2 parts ie eighth notes: up and down beat</p>
    <br>
   
    
    <br>
    <br>
    <!-- Navigation Buttons -->
    <a href="beat-and-tempo.html" class="nav-button">Back</a>
    <a href="duration-and-symbols-2.html" class="nav-button">Next</a>
</div>



{% endblock %}